<template>
  <component v-if="layout" :is="layout">
    <router-view />
  </component>
  <router-view v-else />
  
  <Toast />
  <DynamicDialog />
  <ConfirmDialog />
</template>
<script setup>
import { onMounted, ref, watch, computed } from "vue";
import { useRoute } from "vue-router";

const layout = computed(() => {
  const layout = window.$router.currentRoute?.value?.meta?.layout;
  return layout;
});

onMounted(_ => {
});
</script>
<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
}
</style>
