@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;500&display=swap");

:root {
  font-family: "Be Vietnam Pro", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100svh;
  background-color: #fafafa;
  color: black;
}

.p-toast {
  max-width: 90%;
}
