<template>
	<div class="flex flex-row">
		<div class="left-col">
			<div class="flex flex-column">
				<div v-for="app,idx in apps" @click="goto(app.path)"
					class="menu-item">{{ app.name }}</div>
			</div>
		</div>
		<div class="right-col"><slot></slot></div>
	</div>
</template>
<script setup>
import { ref, onMounted } from "vue";

const apps = [
	{
		name: "App 1",
		path: "/app1"
	},
	{
		name: "App 2",
		path: "/app2"
	}
];
function goto(p) {
	window.$router.push(p);
}
onMounted(() => {
	
})
</script>
<style lang="scss" scoped>
.left-col {
	width: 20%;
	gap: 1px;
	height: 100svh;
	overflow: hidden;
	transition: 0.5s;
}
.right-col {
	flex: 1;
}
.menu-item {
	line-height: 30px;
	background: rgba(200, 200, 200, 0.2);
	font-size: 14px;
	padding-left: 6px;
	cursor: pointer;
}
.menu-item:hover {
	background: rgba(200, 200, 200, 0.4);
}
.menu-item.active {
	background: rgba(200, 200, 200, 0.6);
}

@media screen and (min-width: 1200px) { /* xl */
}
@media screen and (min-width: 990px) { /* lg */
}
@media screen and (min-width: 765px) { /* md */
}
@media screen and (min-width: 575px) { /* sm */
}
</style>