<template>
	<div class="flex flex-row">
		Home
	</div>
</template>
<script setup>
import { ref, onMounted } from "vue";

const tabActive = ref(-1);
const apps = [
	{
		name: "App 1",
		path: "/app1",
		component: "app1-app"
	},
	{
		name: "App 2",
		component: "app2-app"
	}
];
function goto(p) {
	window.$router.push(p);
}
onMounted(() => {
	tabActive.value = 0;
})
</script>
<style scoped>
.left-col {
	width: 20%;
	gap: 1px;
}
.right-col {
	flex: 1;
}
.menu-item {
	line-height: 30px;
	background: rgba(200, 200, 200, 0.2);
	font-size: 14px;
	padding-left: 6px;
	cursor: pointer;
}
.menu-item:hover {
	background: rgba(200, 200, 200, 0.4);
}
.menu-item.active {
	background: rgba(200, 200, 200, 0.6);
}
</style>