<template>
  <div class="header">
    <div class="header-bg">Home</div>
  </div>
  <Button label="Submit" />
</template>
<script setup>
import { ref, computed } from "vue";

</script>
<style scoped>
.header {
  position: relative;
  max-width: 100vw;
  height: 150px;
}
.header-bg {
  position: absolute;
  width: 150%;
  height: 200px;
  left: -25%;
  top: -50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  /*background: linear-gradient(0deg, #f9963b 0%, #f9963b 0.01%, #f95d3b 100%);*/
  background: linear-gradient(0deg, red 0%, #f9963b 0.01%, #f95d3b 100%);
  z-index: 1;
}
</style>
